<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Details</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/trips">Golf Trips</a></li>
            <li><a href="/trips/new">Add New Trip</a></li>
            <li><a href="">Course Details</a></li>
            <li>
                <% if (user) { %>
                <a href="/logout" class="material-icons left">Log Out</a>
                <% } else { %>
                <a href="/auth/google" class="material-icons left">Login with Google</a>
                <% } %>
            </li>
        </ul>
    </nav>
    <br>
    <h4>Add Course</h4>
    <form action="/trips/<%= trip._id %>" method="POST">
        <input name="course"><br>Course Name</input>
        <br>
        <input name="website"><br>Website</input>
        <br>
        <input name="rating"><br>Rating</input>
        <br>
        <br>
        <button type="submit">Add</button> 
    </form>
    <br>
    <br>
    <table style="width: 100%">
        <tr class="course-header">
            <th class="">Courses</th>
            <th class="">Website</th>
            <th class="">Rating</th>
        </tr>
        <% trip.course.forEach((course) => { %>
        <tr class="row">
            <td class=""><%= course.course %></td>
            <td class=""><%= course.website %></td>
            <td class=""><%= course.rating %></td>
        </tr>
        <% }) %>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <table class="main" style="width: 100%">
        <tr class="row-header">
            <th class="">Location</th>
            <th class="">Price</th>
            <th class="">Date</th>
        </tr>
        <tr class="row">
            <td class=""><%= trip.location %></td>
            <td class=""><%= trip.price %></td>
            <td class=""><%= trip.dates %></td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
   
    
    <a class="edit-trip" href="/trips/<%= trip._id %>/edit">Edit Trip</a>
       

</body>
</html>